[submodule "colcon_ws/src/ROS-TCP-Endpoint"]
	path = colcon_ws/src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "colcon_ws/src/unity_ros2_utils/topic_based_ros2_control"]
	path = colcon_ws/src/unity_ros2_utils/topic_based_ros2_control
	url = https://github.com/hijimasa/topic_based_ros2_control.git
[submodule "work/UnitySensors"]
	path = work/UnitySensors
	url = https://github.com/hijimasa/UnitySensors.git
